body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d60000;
    padding: 15px;
    color: white;
    /* width: 99%; */
}

.nav-links {
    display: flex;
    gap: 15px;
    justify-content: end;
    min-width: 140px;
}

.nav-logo {
    display: block;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    flex: 1;
    text-align: center;
    /* padding-right: 20px; */
}

.nav-links a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.nav-logo a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.nav-links a:hover {
    color: rgba(255, 255, 255, 0.4);
    transform: scale(1.03);
    transition: all 0.3s ease;
}

/* .navbar h1 {
    margin: 0;
    padding: 0 0px;
} */

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background: #840000;
    padding: 0.5px 0;
}

.dropbtn {
    background: none;
    color: #fff;
    padding: 4px 12px;
    text-decoration: none;
    border: none;
    border-radius: 0;
    margin: 0 4px;
    font-size: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropbtn:hover {
    background: rgba(255,255,255,0.1);
}

.form-login {
    max-width: 300px;
    margin: 60px auto;
    background: #fff;
    padding: 30px 15px 30px 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-top: 4px solid #d60000;
    overflow-wrap: break-word;
}

.form-login h2 {
    text-align: center;
    color: #d60000;
    margin-bottom: 35px;
}

.form-login label {
    
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: #333;
}
.form-login input[type="text"],
.form-login input[type="password"] {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
}

.form-login input {
    text-indent: 10px;
}

.form-login input::placeholder {
    text-indent: 10px;
    color: #aaa;
}

.form-login input[type="submit"] {
    display: block;
    margin: 20px auto 0px auto;
    width: 50%;
    padding: 10px;
    background-color: #d60000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-login input[type="submit"]:hover {
    background-color: #b30000;
}

.container {
    max-width: 500px;
    margin: 60px auto;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-top: 4px solid #d60000;
    overflow-wrap: break-word;
}

.blink { 
  animation: blinker 1s linear infinite; 
} 

h2 {
    text-align: center;
    color: #d60000;
    margin-bottom: 50px;
}

h4 {
    text-align: center;
    color: #d60000;
    margin-bottom: 20px;
    
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
}

input[type="number"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
}

input[type="date"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
}

input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
}

input::placeholder {
    color: #aaa;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #d60000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #b30000;
}

select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    background: #fff;
}

.hasil {
    max-width: 500px;
    margin: 30px auto;
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    border-left: 4px solid #d60000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.hasil p {
    margin: 8px 0;
    font-size: 15px;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.user {
    display: flex;
    min-width: 140px;
    max-width: 140px;
}

.user a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 15px;
}

.pp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #840000;
    display: block;
    margin: 0px auto;
} 

@keyframes blinker { 
  50% { opacity: 0; } 
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
        font-size: 14px;
    }
}